@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: #F15412;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}

.subtitle {
    color: whitesmoke;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 190px;
    height: 100px;
    border-radius: 17px;
    background: #f77036;
    box-shadow:  5px 5px 7px #d25f2e,
    -5px -5px 7px #ff813e;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tarjeta-de-mokepon:hover {
    cursor: pointer;
    opacity: 70%;
}

.tarjeta-de-mokepon img {
    width: 90px;
}

input {
    display: none;
}

#boton-mascota {
    font-size:15px;
    font-family:Arial;
    width: 170px;
    height: 45px;
    background-color: #f77036;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 17px;
    border-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

#boton-mascota:hover {
    opacity: 86%;
    cursor: pointer;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #f77036;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
        
#mensajes {
    width: 280px;
    background-color: #d6764c;
    padding: 20px;
    margin-top: 20px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#boton-reiniciar:hover {
    border-radius: 17px;
    background-color: #c26a44;
    cursor: pointer;
}
