@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

:root {
  --blue-n: #54BAB9;
  --blue-l: #9ED2C6;
  --beige-n: #E9DAC1;
  --beige-l: #F7ECDE;
  --white: #fff;
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--blue-n);
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
}

.subtitulo {
  color: white;
  font-size: 35px;
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: var(--blue-l);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid var(--button_outline_color);
}

.tarjeta-de-mokepon:hover {
  opacity: 90%;
  cursor: pointer;
}


.tarjeta-de-mokepon img {
  width: 80px;
}

button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

#boton-mascota:hover {
  transform: translateY(-0.33em);
  cursor: pointer;
 }
 
 #boton-mascota:active {
  transform: translateY(0);
 }

#boton-mascota {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--white);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

input {
  display: none;
}

input:checked + label {
  background-color: var(--white);
  color: var(--button_outline_color);
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background-color: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#mensajes {
  width: 280px;
  background: #EEEEEE;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 60%;
}

#boton-reiniciar {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--white);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  font-family: 'Poppins', sans-serif;
}

#boton-reiniciar:hover {
  transform: translateY(-0.33em);
  cursor: pointer;
 }
 
 #boton-reiniciar:active {
  transform: translateY(0);
 }

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: white;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

#ver-mapa button {
  width: 43px;
  height: 43px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 2px 0;
}

#mapa {
  margin-bottom: 10px;
}

@media (max-width: 560px) {
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  #ver-mapa div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .subtitulo {
    text-align: center;
  }
}